div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card-content{
    min-height: 150px;
    min-width: 300px;
    margin: 3rem;
    line-height: 250%;
}

mat-card-title{
    font-size: 1.2rem;
}

.mat-mdc-card-title{
    margin-bottom: 0.8rem;
}

img{
    margin-top: 1.5rem;
}

span{
    font-family: 'Raleway';
    font-weight: bolder;
}