<app-markdown-renderer [md]="'form-controls'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Observable from FormControl
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your Search Term - Watch console for output"
        [formControl]="searchTerm"
      />    
    </mat-form-field>
   @if(showSave) {
    <div>
      <label for="chkSave">Save:</label>
      <input id="chkSave" type="checkbox" [formControl]="chkSave" />
    </div>
   }
  </mat-card-content>
</mat-card>
