.navLink {
  color: var(--color-fg);
  font-size: var(--font-big);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  margin-top: -0.5rem;
}

.navLinkActive{
  text-decoration: underline;
  text-underline-offset: var(--gap-small);
}

mat-toolbar-row {
  min-height: var(--toolbar-big);
  flex-direction: row;
  display: flex;
  gap: var(--gap-medium);
}

.hamburgerMenu{
  cursor: pointer;
  @media (min-width: 960px) {
    display: none;
  }
}

.menuContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.login{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}