<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Async Operations & Observables </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="usingFetch()" color="primary">
      Using Fetch and Promise
    </button>
    <button mat-raised-button (click)="usingFetchAwait()" color="primary">
      Using Fetch Await
    </button>
    <button mat-raised-button (click)="postFetch()" color="primary">
      Post using Fetch
    </button>
    <button mat-raised-button (click)="usingAxios()" color="primary">
      Using Axios and Promises
    </button>
    <button mat-raised-button (click)="useClientInComponent()" color="primary">
      Use HttpClient in Component
    </button>
    <button mat-raised-button (click)="consumeService()" color="primary">
      Consuming Services
    </button>
  </mat-card-content>
</mat-card>

@for (sk of skills; track $index) {
  <div class="row">{{ sk.name }}</div>
}  

@for (sk of skills$ | async; track $index) {
  <div class="row">{{ sk.name }}</div>
} 

@for (sk of skillSignal(); track $index) {
  <div>sk().name</div>
}
