<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Edit </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter name"
        [formControl]="fcName"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Enter age"
        [formControl]="fcAge"
      />
    </mat-form-field>
    <div>
      <label>Gender:</label>
      <mat-radio-group
        aria-label="Select an gender"
        [formControl]="fcGender"
      >
        <mat-radio-button value="male" color="primary">Male</mat-radio-button>
        <mat-radio-button value="female" color="primary"
          >Female</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="savePerson()" color="primary">Save</button>
  </mat-card-actions>
</mat-card>
