@import "mixins.scss";

.navLink {
  @include link(var(--color-fg), var(--font-big));
  margin-top: -0.5rem;
}

.navLinkActive{
  text-decoration: underline;
}

mat-toolbar-row {
  min-height: var(--toolbar-big);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hamburgerMenu{
  cursor: pointer;
  @media (min-width: 960px) {
    display: none;
  }
}

.menuContainer{
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
